# This variable tells make how to run terraform. If you're using aws-vault,
# uncomment the following line and replace <myprofile> with the name of your
# profile
# TF=aws-vault exec myprofile -- terraform


